<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lianxi </title>
	<link rel="stylesheet" href="../assets/style.css">
	
</head>
<body>
	<% include ../public/nav.ejs %>
	<h1>这是联系我们页面</h1>
	<p>Tel: 400-6500-6700</p>
</body>
</html>